/* Used to style the body element */
/* Each property is used to style the background color, font family, font size, color, and spacing of the document */
body {
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 150%;
  color: lime;

  padding-left: 25%;
  padding-right: 25%;
}
