/* Style body */
body {
  padding-top: 250px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style header */
header {
  top: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  padding: 50px;
  color: white;
}

/* Style container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 100px;
}

/* Style text-to-speech section */
.tts-section {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 15px;
}

/* Style button to display 3 rows and 3 columns */
.button-section {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 30px;
}

/* Style button */
button {
  padding: 25px;
  border-color: silver;
  border-width: 5px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Style button when hovered on */
button:hover {
  background-color: red;
  transform: scale(1.2);
  color: white;
}

/* Style button when clicked on */
button:active {
  transform: scale(0.8);
  background-color: green;
  color: white;
}
