body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

img {
  width: 640px;
  max-width: 100%;
  height: auto;

  border: 5px solid white;
}
