/* Used simple css on body element to change website background-color to black, font-family to Arial and such, color to white, and text-align to center. */
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

/* Used simple css on all img to keep the width, max-width, height, and border to uniform. */
img {
  width: 640px;
  max-width: 100%;
  height: auto;

  border: 5px solid white;
}
